In [2]:
print('hello world')

hello world

Data types

1) numbers,

In [3]:
1/2

0.5

In [4]:
1%2

1

2.Strings

In [5]:
'hello'

'hello'

In [9]:
print('"HI" bro')
print('hello \n world')  #excape sequence
len('jerry')

"HI" bro
hello
 world

5

In [21]:
# indexing and slicing

mystring = 'Hello World'
len(mystring) #11
mystring[0] #H
mystring[7] #o

mystring[1:6] #'ello ' string with first and ended not included last value
mystring[1:] #'ello World'
mystring[:]  #'Hello World'
mystring[:10] #'Hello Worl'
mystring[::2] #step size that excluded every 2nd value 'HloWrd'
mystring[1:10:3] #start:stop:step size  'eoo'
mystring[::-1]  #reversing the value  'dlroW olleH'

'dlroW olleH'

strings are immutable

In [22]:
#concatination

x = 'ssk'
x = x + ' is the worlds handsome person'
x

'ssk is the worlds handsome person'

In [23]:
'12' + '12'

'1212'

In [41]:
#string methods and attributes

x.capitalize() #'Ssk is the worlds handsome person'
x.lower() #'ssk is the worlds handsome person'
x.index('h')
x.strip
x.split() #['ssk', 'is', 'the', 'worlds', 'handsome', 'person']
x.split('s') #spliting a word based on the str or space that we are providing

['', '', 'k i', ' the world', ' hand', 'ome per', 'on']

String formatting

In [3]:
value = 99/1111
print("the result was {r:3.4f}".format(r=value))

the result was 0.0891

In [6]:
# mostly used format string is 

name = 'ssk'
print(f'hello, {name} nice to meet you!!!')
print('I like %s' %'python')
print("I like {}".format('python'))

hello, ssk nice to meet you!!!
I like python
I like python

lists

In [7]:
my_list = [1,2,3, 'ssk']
my_list

[1, 2, 3, 'ssk']

In [8]:
my_list[0]

1

In [10]:
my_list_2 = ['new', 'values', 1, 2]
new_list = my_list + my_list_2
my_list_2

['new', 'values', 1, 2]

In [11]:
my_list_2[2:4]

[1, 2]

In [12]:
len(new_list)

8

In [13]:
new_list.append('new value')
new_list

[1, 2, 3, 'ssk', 'new', 'values', 1, 2, 'new value']

In [14]:
new_list.pop()

'new value'

In [15]:
new_list

[1, 2, 3, 'ssk', 'new', 'values', 1, 2]

In [16]:
new_list.pop(3)

'ssk'

In [17]:
new_list

[1, 2, 3, 'new', 'values', 1, 2]

In [21]:
new_list_value = [2,3,6,1 ,3]

In [27]:
new_list_value.sort()
my_sorted_list =  new_list_value
my_sorted_list

[1, 2, 3, 3, 6]

In [29]:
values = [1, 2, [2,3]]
values[2][1]

3